.fade-in {
    animation: fade-in ease 500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

html,
body,
* + * {
    transition: background-color 200ms 0s, color 200ms 0s;
}

h1,
h2,
h3 {
    @apply dark:text-lu-grey-100 text-lu-grey-900;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
